<section class="horario">
  <div class="container-horario">
    <h2 class="titulo-horario">
      <i class='bx bx-time'></i> Horario de Atención
    </h2>
    <ul class="lista-horario">
      <li><span class="dia">Lunes a Viernes</span> <span class="hora">9 a.m.–2:30 p.m., 5–8 p.m.</span></li>
      <li><span class="dia">Sábado</span> <span class="hora">9 a.m.–2 p.m.</span></li>
      <li class="cerrado"><span class="dia">Domingo</span> <span class="hora">Cerrado</span></li>
    </ul>
  </div>
  <br><br>
  <hr class="linea-separacion" />
</section>
