<section class="sobre-nosotros">
  <div class="container">
    <h2 class="titulo-principal">Notario Titular</h2>

    <div class="content">
      <div class="texto">
        <h3>Mtra. Graciela González del Villar</h3>
        <p>
          Notaria con más de 15 años de experiencia brindando asesoría confiable y profesional en trámites notariales.
          Nuestro compromiso es tu tranquilidad y confianza.
        </p>

        <div class="cedulas">
          <div class="cedula">
            <h4>Licenciatura</h4>
            <p><strong>Número de Cédula:</strong> 3540834</p>
          </div>
          <div class="cedula">
            <h4>Maestría</h4>
            <p><strong>Número de Cédula:</strong> 14452213</p>
          </div>
        </div>
      </div>

      <div class="imagen">
        <img
          src="https://scontent.fagu1-1.fna.fbcdn.net/v/t39.30808-6/503349165_1251377816558735_3281522220389109986_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=6oBfwPcLiTwQ7kNvwF-vd3I&_nc_oc=Adm0_akZyMdNu_8ySCqGyOsI_zJZI3x3Paw540niqVzXqze8hgKXpwcaObBTWOwm-aFRCqGBkG-gVs2IFJr8zQqG&_nc_zt=23&_nc_ht=scontent.fagu1-1.fna&_nc_gid=RktNMiPOMYGpfmuvEknotQ&oh=00_AfOsykASQVF92KR2Lx6wdaHc8QLmxTSIEX3Dm4QgUKuXcw&oe=686D5D3F"
          alt="Lic. Graciela González del Villar" />
      </div>
    </div>
  </div>
</section>