<section class="sobre-nosotros">
  <div class="container">
    <h2 class="titulo-principal">Notario Titular</h2>

    <div class="content">
      <div class="texto">
        <h3>Mtra. Graciela González del Villar</h3>
        <p>
          Notaria con más de 15 años de experiencia brindando asesoría confiable y profesional en trámites notariales.
          Nuestro compromiso es tu tranquilidad y confianza.
        </p>

        <div class="cedulas">
          <div class="cedula">
            <h4>Licenciatura</h4>
            <p><strong>Número de Cédula:</strong> 3540834</p>
          </div>
          <div class="cedula">
            <h4>Maestría</h4>
            <p><strong>Número de Cédula:</strong> 14452213</p>
          </div>
        </div>
      </div>

      <div class="imagen">
        <img
          src="./images/notario.png"
          alt="Lic. Graciela González del Villar" />
      </div>
    </div>
  </div>
</section>